.disabledTip {
  width: '100%';
  height: '100%';
  display: 'flex';
  justify-content: 'center';
  align-items: 'center';
  font-size: '14px';
}

.pageContainer {
  padding: 64px;
  display: grid;
  place-content: center;
  grid-template-columns: repeat(auto-fill, 256px);
  grid-gap: 32px;
}
