.container {
  padding: 64px;
  display: grid;
  place-content: center;
  grid-template-columns: repeat(auto-fill, 256px);
  grid-gap: 32px;
}

.card {
  overflow: hidden;
  border-width: 0;
}

.cardHeader {
  background-color: #00000033;
  color: white;
}

.fallback {
  display: grid;
  place-items: center;
}
